.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}

.description {
  font-size: 12px;
  line-height: 1.2;
  color: var(--oc-gray-6);
}

.error {
  font-size: 12px;
  line-height: 1.2;
  color: var(--oc-red-6);
}
