.container {
  overflow: hidden;
  position: relative;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  bottom: 0;
  background: var(--oc-gray-0);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  height: 100px;
  background-color: rgba(0 0 0 / 40%);
  border-radius: 12px;
  transition: background-color 150ms ease 0s;
  overflow: hidden;
}
